/*#page {
    width: 600px;
    margin: 10px auto;
}*/

body {
    background-color: rgb(20, 50, 61);
    color: #ffffffb2;
    margin: auto 3.5%
}

.central {
    text-align: center;
}

.foto-p {
    display: flex;
}

.paragrafo {
    margin: auto 7%;
}

.link-contato {
    display: flex;
    flex-flow: row wrap;
}

.ico {
    height: 3rem;
    width: 8rem;
    color: #ffffffb2 ;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 16px;
    border-radius: 10px;
    margin: 0.3rem;
}


a {
    color: white;
}

.whats {
    border: solid 2px blueviolet;
    padding: 12px;
    border-radius: 50px;
    text-decoration: none;
    width: 30%;
    margin: 2% auto;
    text-align: center;
}

.whats a, .paragrafo a {
    color: #ffffffb2;
}

.instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 0%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.linkedin {
    background-color: #0072b1;
}

.facebook {
    background-color: #254486;
}

.github{
    background-color: #171515 ;
}

h2 {
    min-width: 320px;
}

@media only screen and (max-width: 720px) {
    .central {
        margin: 3% 25%;
        width: calc(100vw - 50%);
    }

    div.foto-p {
       display: flex;
       flex-direction: column;
       margin: auto 0;
    }
    
    .paragrafo {
        margin: auto 3%;
    }

    .contato {
        text-align: center;
    }
    
    .fim {
        margin: auto 3%;
    }

    .ico {
        margin-left: 33%;
    }

    div.foto {
        margin: auto 20%;
    }

    div.whats {
        display: flex;
        flex-direction: column;
        margin: 3% 10%;
        height: 3rem;
        width: 70%;
        border-radius: 50px; 
    }
    
}
