/*#page {
    width: 600px;
    margin: 10px auto;
}*/

body {
    background-color: rgb(20, 50, 61);
    color: #ffffffb2;
    margin-left: 3.5%;
}

.central {
    text-align: center;
}

.foto-p {
    display: flex;
}

.paragrafo {
    margin-left: 7%;
    margin-right: 3%;
}

.ico {
    height: 100px;
    width: 150px;
    display: inline-block;
    color: #ffffffb2 ;
    font-size: 14px;
    box-shadow: inset 0 0 20px 5px blueviolet;
    margin: 0 0.3%;
    text-align: center;
}


a {
    color: #ffffffb2;
}

.whats {
    border: solid 2px blueviolet;
    padding: 12px;
    border-radius: 50px;
    text-decoration: none;
    width: 30%;
    margin: 2% auto;
    text-align: center;
}
